<div class="container-fluid px-5">
  <h2 class="my-3 fw-bold">Watch List</h2>
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="../../assets/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_FMjpg_UX1000_.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="card-title fw-bold">the godfather</h3>
            <i class="bi-heart-fill me-2 fs-4"></i>
          </div>
          <p class="mb-0">
            <small class="text-body-secondary">Sep 25, 2017</small>
          </p>
          <!-- <ngb-rating
            [max]="5"
            [(rate)]="starRating"
            [readonly]="false"></ngb-rating> -->
          <p class="description">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
