header {
  z-index: 2;
}
.image {
  width: 8rem;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: black;
}
/*
.watch-list-icon {
  /* position: relative;
  font-size: 20px; */
.watch-list-counter {
  position: absolute;
  top: -7px;
  right: -10px;
  font-style: normal;
  background: white;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.loader {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
   transform: translateX(-50%);
}

