
<header class="p-3">

  <div class="container-fluid d-flex align-items-center justify-content-between">
<header class="p-3 bg-primary position-fixed w-100 top-0">
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <div class="image">
      <a routerLink=""
        ><img src="../../../assets/fox-movies-logo.png" alt=""
      /></a>
    </div>

    <div class="Links">
      <ul class="m-0 p-0">
        <li class="mx-3 fw-bold">En <i class="bi bi-chevron-down"></i></li>
        <li class="ms-3">
          <a routerLink="watch-list"
            ><i class="bi bi-heart me-2 fs-5 position-relative"
              ><span *ngIf="watchListCounter" class="watch-list-counter">{{
                watchListCounter
              }}</span></i
            >
            WatchList</a
          >
        </li>
      </ul>
    </div>

  </div>

</header>

  <div class="d-flex justify-content-center">
    <div *ngIf="loadersevice.visibility | async" class="spinner-border loader" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
  </div>

