<app-hero-section class="mb-5"></app-hero-section>
<app-notfound *ngIf="errorService.errorMsg | async"></app-notfound>
<!-- <div *ngIf="errorCode != ''">
  <h1>{{ errorCode }}</h1>
  <p>{{ errorMessage }}</p>
</div> -->
<div class="container pb-5">
  <div class="row g-4">
    <app-movie
      class="movie"
      *ngFor="let movie of movies"
      [movie]="movie"
    ></app-movie>
  </div>
  <div
    *ngIf="!(errorService.errorMsg | async)"
    aria-label="Page navigation example"
    class="paginator mx-auto mt-5"
  >
    <ul class="pagination d-flex align-items-center">
      <li class="page-item">
        <a
          class="page-link text-dark"
          aria-label="Previous"
          (click)="handlePrevious($event)"
        >
          <span aria-hidden="true">&laquo;</span></a
        >
      </li>
      <li class="page-item" *ngFor="let page of pagination; let i = index">
        <button
          #pageNumber
          [ngClass]="{
            color: pageNumber.textContent && +pageNumber.textContent == pageNum
          }"
          class="page-link text-dark num"
          (click)="goToAnotherPage($event)"
        >
          {{ pageNum | pagination : i : pagesNum }}
        </button>
      </li>
      <li class="page-item">
        <a class="page-link text-dark" (click)="handleNext($event)">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
