<app-hero-section class="mb-5"></app-hero-section>
<app-notfound *ngIf="errorService.errorMsg | async"></app-notfound>
<!-- <div *ngIf="errorCode != ''">
  <h1>{{ errorCode }}</h1>
  <p>{{ errorMessage }}</p>
</div> -->
<div class="container pb-5">
  <div class="row g-4">
    <app-movie
      class="movie"
      *ngFor="let movie of movies"
      [movie]="movie"
    ></app-movie>
  </div>
  <div
    *ngIf="!(errorService.errorMsg | async)"
    aria-label="Page navigation example"
    class="paginator mx-auto mt-5"
  >
    <ul class="pagination d-flex align-items-center">
      <li class="page-item">
        <a (click)="handlePrevious($event)">&raquo;</a>
      </li>
      <li
        class="page-item border"
        *ngFor="let page of pagination; let i = index"
      >
        <button
          class="page-link text-dark num"
          (click)="goToAnotherPage(i + 1)"
        >
          {{ i + 1 }}
        </button>
      </li>
      <li class="page-item">
        <a (click)="handleNext($event)">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
