.paginator {
  width: fit-content;
}
a {
  text-decoration: none;
  cursor: pointer;
  /* padding: 1rem; */
}
.num:hover {
  background-color: #ffe353;
}

.page-link {
  box-shadow: none !important;
  background-color: white;
}
.color {
  background-color: #ffe353;
  box-shadow: none;
}
