.info {
  transform: translateY(25%);
}
.info img {
  width: 20rem;
  color: #eee;
}
.info button {
  background-color: var(--main-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.4rem 7rem;
}
img {
  width: 100%;
  display: block;
  margin-top: -3rem;
}
