/* You can add global styles to this file, and also import other style files */

:root {
  --main-color: rgba(255, 227, 83, 1);
}
img {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
