/* You can add global styles to this file, and also import other style files */
.wrapper {
  margin-top: 62px !important;
}

img {
  width: 100%;
}
.movie {
  width: 20% !important;
}
@media (max-width: 992px) {
  .movie {
    width: calc(100% / 3) !important;
  }
}
@media (max-width: 768px) {
  .movie {
    width: calc(100% / 2) !important;
  }
}
@media (max-width: 360px) {
  .movie {
    width: calc(100%) !important;
  }
}
