<!-- <div class="card" (click)="redirect($event, movie.id)"> -->
<div class="card" (click)="redirect($event, watchlist1, watchlist2, movie.id)">
  <div>
    <img
      src="{{ img_path }}{{ movie.backdrop_path }}"
      class="card-img-top"
      alt="..."
    />
  </div>

  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">
      {{ movie.release_date }}
    </p>
    <div>
      <i
        #watchlist1
        (click)="toggleWatchList(movie)"
        class="bi bi-heart fs-5"
        style="width: fit-content"
        [style]="{ display: !movie.isInWatchList ? 'block' : 'none' }"
        [style]="{ display: !movie.isInWatchList ? 'block' : 'none' }"
      ></i>
      <i
        #watchlist2
        (click)="toggleWatchList(movie)"
        class="bi bi-heart-fill fs-5"
        style="width: fit-content"
        [style]="{ display: movie.isInWatchList ? 'block' : 'none' }"
      ></i>
    </div>
  </div>
</div>
